@media screen and (max-width: 1100px) {

    .container {
        margin-right: 20px;
        margin-left: 20px;
    }

    .button-enroll {
        display: none;
    }

    .education-text .button-enroll {
        display: flex;
    }

    .header__toggle {
        display: block;
        position: absolute;
        right: 0;
    }

    .mobile-menu {
        display: none;
        position: absolute;
        right: 0;
        top: 190px;
        background-color: #252525;
        padding: 50px 0;
    }

    .header-top__social-network {
        display: none;
    }

    .header-top__phone {
        position: relative;
        right: 0;
    }

    .header__toggle.is-active + .mobile-menu {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 50px;
        width: 50%;
        z-index: 100;
    }

    .header-menu {
        display: block;
    
    }

    .social-network {
        display: flex;
        justify-content: center;
        gap: 45px;
    }

    .header-bottom ul  {
        width: 100%;
    }

    .header-bottom ul li:not(:last-child) {
        padding-bottom: 45px;
    }

    .social-network--media {
        display: block;
    }

/************* Страница всех курсов **************/
    .courses__block--center {
        margin-top: 150px;
        display: block;
    }

    .courses__item--rows {
        grid-template-rows: 2fr 1fr;
        align-content: space-between;
        height: 270px;
        grid-gap: 50px;
    }

    .courses__item--rows p {
        width: auto;
    }


    .courses__item--coloumns {
        grid-template-columns: 1fr 2fr;
        grid-gap: 70px;
        height: auto;
    }



 /************* Страница Курс Ламинирование *************/

    /* Главный баннер */
    .cours__mainbanner {
        height: 575px;

    }

    .cours__mainbanner--background {
        height: auto;
    }

    .cours__mainbanner--image {
        height: 575px;
        
    }
    


    /* Преимущества */

    .benefit {
        height: auto;
    }

    .benefit__block {
        display: grid;
        grid-gap: 50px;
    }

    .benefit__block h2 {
        margin: 0;
        width: 60%;
    }

    .benefit__block--center {
        height: auto;
        margin: 150px 0;
    }

    .benefit__block--item {
        width: 50%;
    }

    .benefit__block--item img {
        height: 70px;
        width: 70px;
    }

    .benefit__items {
        margin: 0;
        justify-content: space-between;
        gap: 20px;
    }

    /* Преподаватель */
    .teacher {
        margin: 0;
        height: auto;
    }
    .teacher__block {
        height: auto;
    }

    .teacher__item--left {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .teacher__item--left h3 {
        margin: 0;
    }

    .teacher__item--left p {
        margin: 0;
    }


    /* Расписание */
    .timetable {
        height: auto;
    }
    
    .timetable__block--center {
        margin: 150px 0;
        height: auto;
    }

    .timetable__block--rows {
        grid-gap: 50px;
    }

    .timetable__block--grid {
        margin: 0;
    }


    /* Записаться на курс */
    .signup {
        height: auto;
    }
    
    /* Форма записи на курс */
    .form__block {
        width: auto;
    }


    .form__background p {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 47px;
    
    }


    .form__button {
        margin-top: 0;
        align-items: center;
    }

    .form__item--left {
        width: 40%;
    }

    .form__item--right {
        width: 60%;
    }

    .form__input {
        width: auto;
    }

    /*--- ПРАЙСЫ начало ---*/
    .price-block {
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 20px;
        row-gap: 100px;
        margin-top: 0;
    }

    .price-block--img-prop {
        max-width: 100%;
        max-height: 340px;
    }

/*--- ПРАЙСЫ конец ---*/

/*--- СТРАНИЦА 404 начало ---*/
    .footer--404 {
        display: block;
    }
/*--- СТРАНИЦА 404 конец ---*/

    .second-banner {
        flex-direction: column;
    }

    .second-banner__button {
        width: auto;
        margin-left: 30%;
        margin-right: 10%;
    }

    .second-banner__content-media {
        position: relative;
        left: 130px;
    }

    .img-mobile-1 {
        position: relative;
        left: 100px;
    }

}

@media screen and (max-width: 960px) {
    .second-banner__content-media {
        left: 170px;
    }

    .img-mobile-1 {
        left: 100px;
    }
}

@media screen and (max-width: 970px) {
    .first-banner__left {
        width: 70%;
    }

    .first-banner__benefits {
        font-size: 40px;
        width: auto;
    }

    .first-banner__img {
        transform: scale(0.75,0.75);
        left: 150px;
    }
}

@media screen and (max-width: 920px) {
    .second-banner__content-media {
        left: 190px;
    }

    .img-mobile-1 {
        left: 120px;
    }

    .second-banner__content p {
        font-size: 60px;
    }
}

@media screen and (max-width: 900px) {
    .first-banner__img {
        left: 180px;
    }

    .second-banner__button {
        margin-left: 35%;
    }
}

@media screen and (max-width: 895px) {
    .second-banner__content-media {
        left: 230px;
    }


    .second-banner__content p {
        font-size: 56px;
    }
}

@media screen and (max-width: 860px) {
    .second-banner__content-media {
        left: 270px;
    }

    .img-mobile-1 {
        left: 170px;
    }
}

@media screen and (max-width: 840px) {
    .education {
        gap: 50px;
    }

    .first-banner__img {
        transform: scale(0.65,0.65);
        left: 200px;
    }

    .second-banner__button {
        margin-right: 5%;
        margin-left: 35%;
    }
}

@media screen and (max-width: 820px) {
    .second-banner__content-media {
        left: 300px;
    }

    .img-mobile-1 {
        left: 200px;
    }

    .second-banner__content p {
        font-size: 50px;
    }
}


@media screen and (max-width: 800px) {

 /************* Страница Курс Ламинирование *************/
    /* Форма записи на курс */
    .form__background {
        height: auto;
    }
    
    .form__background p span {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 47px;
    }

    .form__item--left {
        width: 100%;
        display: grid;
        grid-auto-rows: 1fr 1fr;
        margin: 50px 0;
        height: auto;
    }

    .form__item--right {
        width: 100%;
    }

    .form__block {
        display: grid;
        height: auto;
        
    }

    .form__feild {
        grid-gap: 30px;
        margin-bottom: 50px;
    }

    /******** Мы можем научить вас всему ********/
    .education {
        gap: 10px;
    }

    /*--- ПРАЙСЫ начало ---*/
    .header-top__phone {
        display: none;
    }

    .price h1 {
        margin-top: 50px;
        
    }

    .price-block {
        grid-template-columns: repeat(2, 1fr);
        
    }

    .price-item {
        max-width: 100%;
        max-height: 500px;
    }

    .price-item p {
        font-size: 36px;
        line-height: 42px;
    }

/*--- ПРАЙСЫ конец ---*/

    .first-banner__img {
        left: 230px;
    }

    .second-banner__button {
        margin-left: 40%;
    }

    
}

@media screen and (max-width: 800px) {
    .second-banner__content-media {
        left: 330px;
    }

    .img-mobile-1 {
        left: 200px;
    }

    .second-banner__content p {
        font-size: 50px;
        
    }
}

@media screen and (max-width: 765px) {
/******** Услуги и цены *********/
    .services img {
        width: 330px;
        height: 305px;
    }

/*--- СТРАНИЦА 404 начало ---*/
    .footer--404 {
        display: block;
    }
/*--- СТРАНИЦА 404 конец ---*/

    .first-banner__img {
        left: 255px;
    }

    .second-banner__button {
        margin-left: 45%;
    }


    .second-banner__content-media {
        left: 350px;
     }
    

}

@media screen and (max-width: 740px) {
/******** Мы можем научить вас всему ********/
    .education {
        gap: 0;
    }

    .second-banner__content-media {
        left: 380px;
    }


    .second-banner__content p {
        font-size: 45px;
    }

}


@media screen and (max-width: 710px) {

 /************* Страница Курс Ламинирование *************/
    /* Главный баннер */
    .cours__mainbanner--description h1 {
        width: 100%;
    }

    

    /* Преподаватель */
    .teacher__block {
        flex-wrap: wrap;
        justify-content: center;
    }

    .teacher__item--left {
        margin-top: 100px;
    }

    /* Преимущества */
    .benefit__block h2 {
        width: 100%;
        
    }

    .benefit__block--center {
        margin: 100px 0;
    }

    .benefit__items {
        display: grid;
        gap: 50px;
    }

    .benefit__block--item {
        width: 100%;
        align-items: center;

    }

    .benefit__block--item img {
        height: 60px;
        width: 60px;
    }

    /* Форма записи */
    .form__button {
        align-items: flex-start;
    }

    /******** Мы можем научить вас всему ********/
        .education-text {
            margin-top: 20px;
            margin-right: 20px;
        }

        .education img {
        transform: scale(0.8,0.8);
        position: relative;
        bottom: 0;
        }

        .courses-main__content {
            height: 410px;
        }

        .education .button-enroll {
            margin-top: 20px;
            width: 180px;
        }
        
        .education-text p {
            font-size: 18px;
        }

        .first-banner {
            flex-direction: column-reverse;
        }

        .first-banner__img {
            left: -85px;
            bottom: 250px;
            transform: scale(0.70,0.70);
            height: 100%;
        }


        .first-banner__benefits-left {
            position: relative;
            bottom: 520px;
        }

        .first-banner__benefits-top {
            margin-bottom: 0;
        }

        .first-banner__benefits {
            line-height: 65px;            
        }

        .first-banner__text {
            margin-left: auto;
        }

        .second-banner__content-media {
            left: 400px;
        }
    
        .img-mobile-1 {
            left: 250px;
        }
    
}

@media screen and (max-width: 700px) {
/******** Услуги и цены ********/
    .services img {
        width: 290px;
        height: 280px;
    }

    .services h3 {
        font-size: 24px;
    }   
    
    .services a {
        font-size: 24px;
    }

/*--- СТРАНИЦА 404 начало ---*/
    .error--prop img {
        transform: scale(0.7, 0.7);
        justify-content: stretch;
        padding: 0; 
    }
/*--- СТРАНИЦА 404 конец ---*/

    

    .second-banner__content-media {
        left: 430px;
    }


    .second-banner__content p {
        font-size: 43px;
    }

}

@media screen and (max-width: 670px) {

 /************* Страница Курс Ламинирование *************/
    /* Главный баннер */
    .cours__mainbanner--image {
        left: 0;
    }

 /* Главная - мы можем научить вас всему */
    .courses-main__content {
        height: auto;
    }

    .education {
        flex-direction: column;
        flex-direction: column-reverse;
        justify-content: center;
        position: relative;
        align-items: center;
    }

    .education-text {
        z-index: 10;
    }

    .education .button-enroll {
        width: 100%;
        margin-top: 320px;
        margin-bottom: 50px;
    }

    .education img {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 65px;
        z-index: 9;
    }

    .second-banner__button {
        margin-left: 50%;
    }

    .second-banner__button a {
        font-size: 20px;
    }


    .second-banner__content-media {
        left: 460px;
    }

}




@media screen and (max-width: 640px) {
/************* Хедер *************/
    .header__toggle.is-active + .mobile-menu {
        width: 100%;
    } 

    .header-top__phone {
        display: none;
    }


  /************* Страница всех курсов *************/
    .courses__item--coloumns {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .courses__block--center {
        margin-top: 100px;
    }

    .courses__block--rows {
    margin: 100px 0;
    }


  /************* Страница Курс Ламинирование *************/
    /* Преподаватель */
    .teacher__item--right {
        width: 100%;
    }

    /* Форма записи */
    .form__button {
        display: grid;
        justify-content: center;
        height: auto;
        grid-gap: 30px;
    }

    .form__button button {
        margin: auto;
    }

    .form__button span {
        width: 100%;
    }

    .form__item--right {
        margin-bottom: 50px;
    }



  /************* Футер *************/  
    footer {
        height: auto;
    }

    .footer {
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
        padding: 35px 0;
    }

    .footer-list {
        display: none;
    }

    .footer-contacts {
        height: auto;
    }

    .footer__phone {
        display: none;
    }

    .footer-logo {
        position: static;
    }

    .footer-contacts__social-network {
        display: flex;
        gap: 45px;
    }

    .footer-contacts__social-network a {
        margin: 0;
    }

    /******** Отзывы ********/

    .reviews-text h2 {
        margin-bottom: 75px;
    }

    .reviews-content {
        flex-direction: column;
    }

    .reviews-text {
        width: 100%;
    }

    .reviews-text p {
        width: 75%;
    }

    .reviews-widget {
        width: 100%;
        height: 700px;
    }

    /******** Карта ********/

    .contacts {
        flex-direction: column;
    }

    #contacts-widget {
        margin-bottom: 100px;
    }

    .contacts-text {
        width: 100%;
    }

    .second-banner__button {
        margin-left: 51%;
        margin-right: 3%;
    }

    .img-mobile-1 {
        left: 280px;
    }

    .second-banner__content-media {
        left: 480px;
    }


    .second-banner__content p {
        font-size: 38px;
    }
}

@media screen and (max-width: 620px) {
    .services img {
        width: 100%;
        height: 100%;
    }
    
    .services {
        justify-content: center;
    }

    .img-mobile-1 {
        left: 290px;
    }

    .second-banner__content-media {
        left: 510px;
    }


    .second-banner__content p {
        font-size: 36px;
    }
}

@media screen and (max-width: 600px) {
    .main__masters {
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;
    }

    .our-team__masters {
        justify-content: center;
    }

    .our-team__masters img {
        width: 100%;
        height: 100%;
    }

    .first-banner__img {
        left: -120px;
    }

    .second-banner__button {
        margin-left: 56%;
    }
}

@media screen and (max-width: 600px) {
    /*--- ПРАЙСЫ начало ---*/
    .price h1 {
        font-weight: 700;
        font-size: 32px;
        line-height: 38px;
    }
    
    .price-block {
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 0;
        row-gap: 50px;
        margin-top: 0;
    }
    
    .price-item {
        max-width: 100%;
        max-height: 500px;
    }
    
    /*--- ПРАЙСЫ конец ---*/

    .img-mobile-1 {
        left: 300px;
    }

    .second-banner__content-media {
        left: 520px;
    }


    .second-banner__content p {
        font-size: 36px;
    }
}

@media screen and (max-width: 575px) {
    .img-mobile-1 {
        left: 320px;
    }

    .second-banner__content-media {
        left: 550px;
    }


    .second-banner__content p {
        font-size: 34px;
    }

}

@media screen and (max-width: 542px) {
    .second-banner__button {
        margin-left: 60%;
    }

    .second-banner__button a {
        font-size: 18px;
    }

    .img-mobile-1 {
        left: 340px;
    }

    .second-banner__content-media {
        left: 580px;
    }


    .second-banner__content p {
        font-size: 33px;
    }
}

@media screen and (max-width: 520px) {
    .first-banner__img {
        transform: scale(0.6,0.6);
    }

    .first-banner__benefits-top, .first-banner__text {
        margin-left: 20px;
    }

    .first-banner__benefits {
        font-size: 32px;
        line-height: 40px;
    }

    .first-banner__text {
        font-size: 16px;
        line-height: 19px;
        margin-top: 30px;
    }

    .second-banner__content-media {
        left: 600px;
    }


    .second-banner__content p {
        font-size: 32px;
    }

    .img-mobile-1 {
        left: 350px;
    }
}

@media screen and (max-width: 500px) {
    .second-banner__button {
        margin-left: 64%;
        height: 75px;
        padding-left: 20px;
        padding-right: 20px;
        position: relative;
        bottom: 75px;
    }

    .second-banner__button a {
        text-align: center;
    }

    .second-banner__content-media {
        left: 620px;
    }


    .second-banner__content p {
        font-size: 33px;
        width: 430px;
    }

    .img-mobile-1 {
        left: 350px;
    }

    .our-work .slider {
        gap: 10px;
    }

    .js-slider__item {
        width: auto;
        height: auto;
    }

    .js-slider__item img {
        width: auto;
        height: auto;
    }
}

@media screen and (max-width: 465px) {
    .second-banner__content-media {
        left: 650px;
    }


    .second-banner__content p {
        font-size: 33px;
        width: 400px;
    }

    .img-mobile-1 {
        display: none;
    }

    .img-mobile-2 {
        display: block;
        position: relative;
        left: 360px;
        bottom: 33px;
        transform: scale(1.1,1.1);
    }
}

@media screen and (max-width: 450px) {
    .education img {
        width: 90%;
        bottom: 75px;
    }

    .education .button-enroll {
        margin-top: 300px;
        background-color: #252525;
    }

    .first-banner__img {
        transform: scale(0.5,0.5);
    }

    .first-banner__benefits-top {
        margin-left: auto;
        margin-right: auto;
    }

    .first-banner__text {
        margin-top: 60px;
    }

    .first-banner__text p {
        font-size: 16px;
        line-height: 19px;
        margin-left: 0;
    }

    .second-banner__button {
        margin-left: 68%;
    }

    .second-banner__content-media {
        left: 670px;
    }


    .second-banner__content p {
        font-size: 30px;
        width: 380px;
    }

    .img-mobile-2 {
        left: 370px;
    }
}

@media screen and (max-width: 420px) {
    .second-banner__content-media {
        left: 690px;
    }
}

@media screen and (max-width: 400px) {
    .education .button-enroll {
        margin-top: 220px;
        margin-bottom: 20px;
    }

    .education img {
        bottom: 45px;
    }

    .logo__header img {
        width: 90%;
        height: 90%;
    }

    .first-banner__benefits-top {
        width: 250px;
    }

    .second-banner__button {
        margin-left: 72%;
    }

    .second-banner__content-media {
        left: 710px;
    }


    .second-banner__content p {
        font-size: 29px;
        width: 340px;
    }

    .img-mobile-2 {
        left: 395px;
        transform: none;
        bottom: 0;
    }
}


@media screen and (max-width: 420px) {
    
/************* Хедер *************/
    .header-bottom-logo img {
        height: 29px;
    }

    .header-top__address a {
        font-size: 16px;
    }


/************* Страница всех курсов *************/
    .courses__block--rows h1 {
        font-size: 32px;
    }

    .courses__item h2 {
        font-size: 28px;
    }

    .courses__item--rows p {
        font-size: 16px;
    }

/************* Страница Курс Ламинирование *************/
    /* Главный баннер */
    .cours__mainbanner {
        height: max-content;
    }

    .cours__mainbanner--background {
        height: 670px;
    }

    .cours__mainbanner--description {
        display: grid;
        grid-gap: 30px;
    }

    .cours__mainbanner--description h1 {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 38px;
        width: 100%;
    }

    .cours__mainbanner--description p {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        margin: 0;
    }

    .cours__mainbanner--image {
        display: none;
    }

    .cours__mainbanner--img{
        display: none;
    }

    .cours__mainbanner--image-mob {
        display: block;
        position: absolute;
        bottom: 0;
        width: 100%;
        
    }

    .cours__mainbanner--img-mob {
        display: block;
        position: absolute;
        bottom: 0;
        width: 100%;
        
    }

    /* Преимущества */
    .benefit__block h2 {
        width: 100%;
        
    }

    .benefit__block--center {
        margin: 100px 0;
    }

    .benefit__items {
        display: grid;
        gap: 50px;
    }

    .benefit__block--item {
        width: 100%;
        align-items: center;
        
    }

    .benefit__block--item p {
        font-size: 16px;
        line-height: 19px;
    }

    .benefit__block--item img {
        height: 60px;
        width: 60px;
    }

    /* Преподаватель */
    .teacher__block {
        flex-wrap: wrap;
    }

    .teacher__item--left {
        margin-top: 50px;
        gap: 20px;
    }

    .teacher__item--left h2 {
        font-size: 28px;
        line-height: 33px;
    }

    .teacher__item--left h3 {
        font-size: 26px;
        line-height: 31px;
    }

    .teacher__item--left p {
        font-size: 16px;
        line-height: 19px;
    }

    /* Расписание */
    .timetable__block--grid {
        grid-template-columns: 1fr;
    }

    .timetable__block--right {
        margin-left: 20px;
    }

    .timetable__block--right li {
        font-size: 16px;
        line-height: 19px;
    }

    /* Форма записи */
    .form__item--left {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
    }

    .form__feild {
        grid-gap: 50px;
        grid-template-rows: 1fr;
    }

    .form__button span {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;

    }

    .first-banner__img {
        transform: scale(0.5,0.5);
    }

}

@media screen and (max-width: 390px) {
    .first-banner__text p {
        width: 270px;
    }

    .second-banner__content p {
        line-height: 60px;
    }

    .js-slider__item {
        width: auto;
        height: auto;
    }
}


@media screen and (max-width: 380px) {
   

/************* Страница Курс Ламинирование *************/
/* Форма записи */
    .form__feild {
        width: 100%;
    }

    .form__input {
        width: 100%;
    }

    .form__button {
        width: 100%;
    }
 
    .form__item--left {
        display: block;
    }

    .first-banner__img {
        transform: scale(0.45,0.45);
    }

    .second-banner__button {
        margin-left: 75%;
    }

    .second-banner__button a {
        font-size: 15px;
    }

    .second-banner__content-media {
        left: 730px;
    }


    .second-banner__content p {
        font-size: 32px;
        width: 340px;
    }

    .img-mobile-2 {
        left: 395px;
        transform: none;
        bottom: 0;
    }

    .second-banner__button {
        bottom: 130px;
    }
}

@media screen and (max-width: 350px) {
    .logo__header img {
        width: 80%;
        height: 80%;
    }

    .second-banner__button {
        margin-left: 78%;
        margin-right: 2%;
    }

    .second-banner__content-media {
        left: 760px;
    }


    .second-banner__content p {
        font-size: 32px;
        width: 340px;
        line-height: 38px;
    }

    .img-mobile-2 {
        left: 420px;
    }

    .second-banner__button {
        top: 10px;
    }
}



@media screen and (max-width: 320px) {
    .education img {
        width: 100%;
        height: 55%;
        bottom: 45px;
    }

    .first-banner__img {
        transform: scale(0.41,0.41);
    }

    .second-banner__content p {
        font-size: 30px;
        width: 270px;
        line-height: 40px;
    }

    .img-mobile-2 {
        left: 420px;
    }

    .second-banner__content-media {
        left: 780px;
    }

    .second-banner__button {
        top: -30px;
    }
}
